* {
  margin: 0px;
  padding: 0px;
}

@font-face {
  font-family: D-DIN-Bold;
  src: url(/font/D-DIN-Bold.woff);
}

@font-face {
  font-family: D-DIN-REG;
  src: url(/font/D-DIN.woff);
}

body {
  background-color: black;
  color: white;
  font-family: D-DIN-Bold, Arial, Verdana, sans-serif;
}

/* header  */
header {
  height: 100px;
  width: 1400px;
  font-size: 14px;
  position: fixed;
  justify-content: flex-start;
  left: 150px;
  align-items: center;
  display: flex;
}

.top-header {
  position: fixed;
  display: flex;
}

/* logo  */

.logo {
  height: 26px;
  width: 210px;
}

.fill-white {
  fill: white;
}

.left-header {
  height: 25px;
  width: 613px;
  margin-left: 30px;
  display: flex;
  justify-content: space-around;
  align-items: flex-end;
}

#shop {
  position: fixed;
  right: 90px;
}

li {
  list-style: none;
}

/* Nav Bar */
#navbar {
  position: fixed;
  top: 0;
  right: 50px;
}

#menuToggle {
  display: block;
  position: relative;
  top: 49px;
  left: 10px;
  z-index: 1;
}

#menuToggle a {
  text-decoration: none;
  color: white;
  transition: color 0.2s;
}

#menuToggle input {
  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -15px;
  left: -15px;
  cursor: pointer;
  opacity: 0; /* hide this */
  z-index: 6; /*and place it over the hamburger  */
}

#menuToggle span {
  display: block;
  width: 16px;
  height: 2px;
  margin-bottom: 2px;
  position: relative;
  background: white;
  border-radius: 3px;
  z-index: 4;
  transform-origin: 4px 0px;
  transition: transform 0.5s cubic-bezier(0.77, 0.2, 0.05, 1),
    background 0.5s cubic-bezier(0.77, 0.2, 0.05, 1), opacity 0.55s ease;
}

#menuToggle span:first-child {
  transform-origin: 0% 0%;
}

#menuToggle span:nth-last-child(2) {
  transform-origin: 0% 100%;
}

#menuToggle input:checked ~ span {
  opacity: 1;
  transform: rotate(45deg) translate(-1px, 0px);
  background: white;
}

#menuToggle input:checked ~ span:nth-last-child(3) {
  opacity: 0;
  transform: rotate(0deg) scale(0.2, 0.2);
}

#menuToggle input:checked ~ span:nth-last-child(2) {
  transform: rotate(-45deg) translate(0, -1px);
}

#menu {
  position: absolute;
  width: 18vw;
  height: 100vh;
  margin: -100px 0 0 -18vw;
  padding: 50px;
  padding-top: 125px;
  background: black;
  list-style-type: none;
  transform-origin: 0% 0%;
  transform: translate(100%, 0);
  transition: transform 0.8s cubic-bezier(0.77, 0.2, 0.05, 1);
  z-index: 3;
}

#menu li {
  padding: 10px 0;
  margin-right: 30px;
  font-size: 16px;
  font-family: D-DIN-REG;
  text-align: right;
  border-bottom: 1pt solid #252525;
}

#menuToggle input:checked ~ ul {
  transform: none;
}

.cover-screen {
  background-color: blue;
  position: fixed;
  height: 100vh;
  width: 100vw;
  opacity: 0.5;
  z-index: 2;
}

/* first section about starlink  */
.starlink {
  height: 100vh;
  width: 100vw;
  background-image: url('/img/starlink.png');
  background-size: 100% 140%;
  background-repeat: no-repeat;
  background-position: center;
  display: flex;
  align-items: flex-end;
}

.first {
  position: relative;
  height: 198px;
  width: 520px;
  left: 150px;
  bottom: 120px;
}

.first > p {
  font-family: D-DIN-REG;
  font-size: 20px;
  line-height: 38px;
}

.first > h2 {
  font-size: 48px;
  line-height: 48px;
}

.first > button {
  height: 50px;
  width: 160px;
  position: relative;
  background-color: transparent;
  margin: 50px 0px;
  color: white;
  font-size: 14px;
  font-family: D-DIN-Bold;
  border: white solid 2px;
  align-content: center;
}
